.feature {
    background-color: var(--color-bg-header);
    margin-bottom: 8rem;
    padding-top: 21.4rem;
}

.feature__wrapper {
    display: flex;
    justify-content: space-between;
}

.feature__content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature__title {
    margin-bottom: 2.8rem;
}

.feature__list {
    max-width: 45rem;
}

.feature__item {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.feature__item:last-child {
    margin-bottom: 0;
}

.feature__item img {
    margin-right: 1.2rem;
}

.feature__item p {
    font-family: var(--font-secondary);
    font-size: var(--fs-lg);
}

@media (max-width: 1024px) {
    .feature {
        padding: 0 0 4rem;
    }

    .feature__wrapper {
        flex-direction: column-reverse;
    }
    
    .feature__content {
        max-width: 40rem;
        margin: 0 auto;
    }

    .feature__title {
        text-align: center;
    }

    .feature__item { 
        margin-bottom: 1.6rem;
    }

    .feature__item img {
        width: 1.8rem;
    }

    .feature__item p {
        font-size: var(--fs-body);
    }

    .feature__img {
        margin: 0 auto ;
    }
  }