@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  
  --color-bg: #fff;
  --color-text: #1B1C1D;
  --color-accent: #FF9966;
  --color-active: #ff722c;
  --color-header-link: #222;
  --color-bg-header: #F5F3EA;

  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'DM Sans', sans-serif;
  
  --fs-body: 1.6rem;
  --fs-h1-desktop: 9.6rem;
  --fs-h1-mobile: 5rem;
  --fs-button: 1.6rem;
  --fs-lg: 2rem;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--fs-body);
}

ul {
  list-style: none;
}

li a{
  text-decoration: none;
  color: var(--color-header-link);
}

h1 {
  font-size: var(--fs-h1-desktop);
  font-weight: 400;
}

@media (max-width: 1024px) {
  h1 {
    font-size: var(--fs-h1-mobile);
  }
}
